{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:svelte/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"import/order": [
			"warn",
			{
				"groups": [
					"builtin",
					"external",
					"internal",
					"parent",
					"sibling",
					"index"
				],
				"pathGroups": [
					{
						"pattern": "{svelte,svelte/**, svelte-spa-router}",
						"group": "builtin"
					},
					{
						"pattern": "{./components/**/*.svelte,./pages/**/*.svelte}",
						"group": "parent"
					},
					{
						"pattern": "/**",
						"group": "index"
					}
				],
				"pathGroupsExcludedImportTypes": [],
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				},
				"newlines-between": "always-and-inside-groups"
			}
		],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off"
	}
}
